.root {
  border: 1px solid var(--light-grey-2);
  border-radius: 25px;
  padding: 30px;
}

.fieldsRow {
  margin-top: 40px;
  display: flex;
  column-gap: 70px;
  align-items: flex-end;
}

.input {
  width: 50%;
}

.inputWrapper {
  width: 50%;
}

.removeButton {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 128%;
  color: var(--red2);
}
