.input {
  margin-top: 40px;
  max-width: 480px;

  &:first-child {
    margin-top: 0;
  }
}

@media (max-width: 1149px) {
  .input {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }
}
