.title {
  margin-bottom: 30px;
}

.buyPolicyButton {
  margin: 0 auto;
  margin-top: 20px;
}

.listWrapper {
  margin-top: 28px;
}

.loader {
  margin: 0 auto;
}

.noDataText {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}