.title {
  margin-bottom: 30px;
}

.buyPolicyButton {
  margin: 0 auto;
  margin-top: 20px;
}

.listWrapper {
  margin-top: 28px;
}

.loader {
  margin: 0 auto;
}

.noDataText {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.attentionBanner {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  width: 70% !important;
  height: 80vh;
  z-index: 999999;
  text-align: center;
}

.attentionBannerClose {
  position: absolute;
  top: 30px;
  right: 30px;
}

.hidden {
  display: none;
}