.header {
  margin-top: 45px;
}

.wrapper {
  padding: 36px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
}

.headerLeft {
  column-gap: 32px;
}

.headerRight {
  column-gap: 25px;
}

.links {
  display: flex;
  column-gap: 32px;
}

@media (max-width: 1149px) {
  .header {
    margin-top: 25px;
  }
}
