.header {
  margin-top: 45px;
  position: relative;
  overflow-y: hidden;
  z-index: 101;
}

.root {
  position: relative;
  z-index: 101;
}

.substrate {
  position: relative;
  z-index: 101;
}

.wrapper {
  padding: 36px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;
  z-index: 101;
}

.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
}

.headerLeft {
  column-gap: 32px;
}

.headerRight {
  column-gap: 25px;
}

.links {
  display: flex;
  column-gap: 32px;
}

@media (max-width: 1349px) {
  .dashboardText {
    display: none;
  }
}

@media (max-width: 1149px) {
  .header {
    margin-top: 25px;
  }
}

@media (max-width: 1180px) {
  .links {
    column-gap: 16px;
  }
}

@media (max-width: 1149px) {
  .dashboardButtonDesktop {
    display: none;
  }

  .links {
    display: none;
  }

  .logo {
    width: 150px;
    height: 31px;
  }

  .wrapper {
    padding: 20px 30px;
  }
}
