.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 128%;
  color: #000;
}

.centered {
  text-align: center;
}

@media (max-width: 1149px) {
  .text {
    font-size: 14px;
  }
}
