.root {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.svg {
  display: block;
  width: 86px;
  height: 85px;
}

.title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  line-height: 154%;
  color: var(--dark-grey);
}

.number {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  line-height: 125%;
  color: var(--dark-grey);
}

@media (max-width: 1149px) {
  .root {
    column-gap: 20px;
  }

  .svg {
    width: 49px;
    height: 49px;
  }

  .title {
    font-size: 18px;
    line-height: 128%;
  }

  .number {
    font-size: 20px;
    line-height: 125%;
  }
}
