.container {
  max-width: 900px !important;
  margin-top: 50px !important;
}

.substrate {
  margin-top: 50px;
  padding: 50px;
}

.editLink {
  margin-top: 80px;
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 128%;
  color: var(--blue);
}

.priceWrapper {
  margin-top: 15px;
}