$button-gap: 25px;
$button-gap-mobile: 15px;

.container {
  position: relative;
  display: inline-flex;
  border-radius: 22px;
  padding: 7px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.13);
  background: var(--white);
  gap: $button-gap;
}

.button {
  position: relative;
  padding: 17px 40px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
  transition: color 0.3s ease;
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--dark-grey);
}

.activeBackground {
  position: absolute;
  top: 7px;
  bottom: 7px;
  background: var(--light-grey);
  border-radius: 17px;
  transition: transform 0.3s ease, width 0.3s ease; // 👈 добавляем width
  z-index: 1;
}

.active {
  color: var(--blue);
}

.input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.groupSmall {
  padding: 8px;
  border: 1px solid var(--grey);
  box-shadow: none;
  gap: 10px;

  & .button {
    padding: 12px 22px;
  }
}

@media (max-width: 1149px) {
  .container {
    gap: $button-gap-mobile;
    border-radius: 18px;
    padding: 5px;
  }

  .activeBackground {
    top: 5px;
    bottom: 5px;
    border-radius: 15px;
  }

  .button {
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 129%;
  }
}
