.container {
  max-width: 900px !important;
}

.title {
  margin-top: 50px;
}

.substrate {
  margin-top: 50px;
  padding: 50px;
}

.editLink {
  display: block;
  margin-top: 80px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 128%;
  color: var(--blue);
}

.countedPrice {
  margin-top: 15px;
}

@media (max-width: 1149px) {
  .substrate {
    margin-top: 20px;
    padding: 30px 20px 40px 20px;
  }

  .editLink {
    margin-top: 70px;
    font-size: 14px;
  }
}
