.root {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 128%;
  letter-spacing: 0.01em;
  color: var(--grey);

  display: flex;
  column-gap: 70px;
}

.title {
  width: 230px;
  flex-shrink: 0;
  display: block;
}

.value {
  color: var(--dark-grey);
}

@media (max-width: 1149px) {
  .root {
    display: block;
  }

  .title {
    width: auto;
    font-weight: 400;
    font-size: 14px;
  }

  .value {
    font-size: 14px;
    display: block;
  }
}
