.substrate {
  margin-top: 32px;
  padding: 50px;
}

.dataItem {
  margin-top: 40px;

  &:first-child {
    margin-top: 0;
  }
}

.toggleEdit {
  display: block;
  margin-top: 80px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 128%;
  color: var(--blue);
}

.loader {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1149px) {
  .substrate {
    border-radius: 25px;
    padding: 30px 20px 40px 20px;
  }

  .dataItem {
    margin-top: 25px;

    &:first-child {
      margin-top: 0;
    }
  }

  .toggleEdit {
    margin-top: 70px;
    font-size: 14px;
  }
}
