.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  color: var(--dark-grey);
}

.centered {
  text-align: center;
}

.h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 123%;
}

.h2.large {
  font-size: 36px;
}

.h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 128%;
}

.small {
  font-weight: 500;
  font-size: 26px;
  line-height: 123%;
}

@media (max-width: 1149px) {
  .title {
    font-size: 20px;
  }

  .h2 {
    font-size: 18px;
    line-height: 128%;
  }

  .h2.large {
    font-size: 20px;
  }

  .h3 {
    font-size: 14px;
    line-height: 129%;
  }

  .small {
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
  }
}
