.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  color: var(--dark-grey);
}

.centered {
  text-align: center;
}

@media (max-width: 1149px) {
  .title {
    font-size: 20px;
  }
}
