.root {
  padding: 50px;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 30px;
  line-height: 127%;
  color: var(--dark-grey);
}

.description {
  margin-top: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: var(--dark-grey);
}

.infoCard {
  margin-top: 30px;
}

@media (max-width: 1149px) {
  .root {
    padding: 25px;
  }

  .title {
    font-size: 18px;
  }

  .description {
    font-size: 18px;
  }

  .infoCard {
    margin-top: 20px;
  }
}
