.root {
  width: fit-content;
  border-radius: 15px;
  padding: 15px 25px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 128%;
  letter-spacing: 0.01em;
}

.active {
  background: #e8f9f1;
  color: #1bb677;
}

.awaiting {
  background: #ffebc6;
  color: #ff760e;
}

.expired {
  background: var(--pink);
  color: var(--red2);
}

@media (max-width: 1149px) {
  .root {
    padding: 12px 20px;
    font-size: 14px;
  }
}
