.root {
  margin-top: 50px;
}

.substrate {
  margin-top: 50px;
  padding: 40px;
}

.staticFieldsWrapper {
  margin-top: 100px;
}

.submitButton {
  margin: 0 auto;
  margin-top: 100px;
}

.countedPrice {
  margin-top: 100px;
}

@media (max-width: 1149px) {
  .substrate {
    margin-top: 20px;
    padding: 30px 20px 40px 20px;
  }

  .staticFieldsWrapper {
    margin-top: 80px;
  }

  .countedPrice {
    margin-top: 80px;
  }

  .submitButton {
    margin-top: 80px;
  }
}
