.link {
  display: block;
  border-radius: 20px;
  padding: 20px 30px;
  width: 100%;
  max-height: 65px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  // line-height: 20px;
  color: var(--dark-grey);
}

.active {
  background: var(--light-grey);
  color: var(--blue);
}

.chevron {
  display: none;
}

@media (max-width: 1149px) {
  .chevron {
    display: block;
  }

  .link {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    font-size: 18px;
  }
}
