.link {
  display: block;
  border-radius: 20px;
  padding: 20px 30px;
  width: 100%;
  max-height: 65px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  // line-height: 20px;
  color: var(--dark-grey);
}

.active {
  background: var(--light-grey);
  color: var(--blue);
}
