.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.4s ease;
  padding: 0 7px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: none;
}

.open {
  top: calc(100% - 20px);
  padding-top: 20px;
  padding-bottom: 20px;
  max-height: 400px;
  opacity: 1;
}

.link {
  display: block;
  padding: 15px 20px;
  text-align: left;
}

.dropdownDasboard {
  margin-left: 20px;
  margin-top: 15px;
}


@media (max-width: 1149px) {
  .dropdown {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdownDasboard {
    margin: 0 auto;
  }
}
