.contentItem {
  margin-top: 80px;
  display: flex;
  column-gap: 70px;
  align-items: flex-start;
}

.contentItemLargeTitle {
  width: 230px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 123%;
  color: var(--dark-grey);
}

.contentItemTitle {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: var(--dark-grey);
}