.contentItem {
  margin-top: 80px;
  display: flex;
  column-gap: 70px;
  align-items: flex-start;
}

.contentItemLargeTitle {
  width: 230px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 123%;
  color: var(--dark-grey);
}

.contentItemTitle {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: var(--dark-grey);
}

@media (max-width: 1149px) {
  .contentItem {
    display: block;
    margin-top: 70px;
  }

  .contentItemLargeTitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 128%;
  }

  .contentItemTitle {
    font-size: 14px;
    font-weight: 700;
  }

  .contentItemValue {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
  }

  .contentItemLargeWrapper {
    margin-top: 30px;
  }
}
