.root {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 40px;
}

.description {
  text-align: center;
  margin-top: 40px;
}

.redirectLink {
  margin-top: 40px;
  display: block;
  text-align: center;
}