:root {
  --font-family: "Geometria", sans-serif;
  --second-family: "SONGER SemiExpanded", sans-serif;

  --blue: #3233f3;
  --dark-grey: #1c1c1f;
  --light-grey: #eaedf1;
  --grey: #828181;
  --red: #f90d0d;
  --pink: #ffdcdc;
  --red2: #ff4343;
  --green: #26b719;
  --orange: #e3ab1a;
  --medium-grey: #828181;
  --light-pink: #ffeded;
  --white: #fff;
  --dark-blue: #2323b0;
  --light-grey-2: #dcdcdc;
  --grey-3: #666;
  --dark-green: #19b75b;
  --light-blue: #98a7fa;
  --light-pink: #ff4375;
  --prozrachnyy-grey: rgba(130, 129, 129, 0.7);

  --screen-desktop: 1520px;
  --screen-tablet: 1349px;
  --screen-mobile: 1149px;
}

@font-face {
  font-family: "Geometria";
  src: url("/fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Geometria";
  src: url("/fonts/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Geometria";
  src: url("/fonts/Geometria-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SONGER SemiExpanded";
  src: url("/fonts/SONGER_SE_Medium.otf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "SONGER SemiExpanded";
  src: url("/fonts/SONGER_SE_Regular.otf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: var(--font-family);
  background-color: var(--light-grey);
}

// ------------------------ Reset and base styles  -----------------------------

* {
  margin: 0;
  padding: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/* Links */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  padding-inline-start: 0;
}

img {
  vertical-align: top;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  background: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
