.root {
  margin-top: 400px;
  border-radius: 40px 40px 0 0 !important;
  padding: 74px 110px 82px 110px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.logoSvg {
  width: 339px;
  height: 70px;
}

.logoLink {
  display: block;
}

.title {
  font-family: var(--font-family);
  font-weight: 500 !important;
  font-size: 30px !important;
  line-height: 127%;
  color: var(--dark-grey);
}

.columnsWrapper {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
}

.link {
  margin-top: 30px;
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: var(--dark-grey);

  &:first-child {
    margin-top: 38px;
  }
}

.linkLarge {
  margin-top: 23px;
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 125%;
  color: var(--dark-grey);

  &:first-child {
    margin-top: 0;
  }
}

.socialLinks {
  margin-top: 30px;
  display: flex;
  column-gap: 22px;
  justify-content: center;
  align-items: center;
}

.address {
  margin-top: 73px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: var(--dark-grey);
  text-align: center;
}

.copyright {
  margin-top: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: var(--dark-grey);
  text-align: center;
}

@media (max-width: 1149px) {
  .root {
    margin-top: 226px;
    padding: 48px 27px;
    padding-bottom: 34px;
  }

  .logoSvg {
    width: 222px;
    height: 46px;
  }

  .columnsWrapper {
    display: block;
  }

  .column {
    &:nth-child(1) {
      margin-top: 50px;
    }
    &:nth-child(2) {
      margin-top: 33px;
    }
    &:nth-child(3) {
      margin-top: 52px;
    }
  }

  .title {
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 128%;
  }

  .link {
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;

    &:first-child {
      margin-top: 20px;
    }
  }

  .linkLarge {
    margin-top: 17px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;

    &:first-child {
      margin-top: 0;
    }
  }

  .socialLinks {
    margin-top: 23px;
  }

  .address {
    margin-top: 47px;
    font-weight: 400;
    font-size: 14px;
  }

  .copyright {
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
  }

  .logoSvg {
    margin: 0 auto;
    display: block;
  }

  .column {
    margin: 0 auto;
    width: 100%;
    max-width: 220px;
  }
}
