.userDataItem {
  display: flex;
  column-gap: 70px;
}

.userDataTitle {
  width: 230px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: var(--grey);
}

.userDataInfo {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: var(--dark-grey);
}

@media (max-width: 1149px) {
  .userDataItem {
    display: block;
  }

  .userDataTitle {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: var(--grey);
  }

  .userDataInfo {
    display: block;
    margin-top: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
  }
}
