.title {
  margin-top: 50px;
}

.widgetsWrapper {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.contactUs {
  width: 32%;
  min-width: 465px;
}

@media (max-width: 1149px) {
  .title {
    margin-top: 30px;
  }

  .widgetsWrapper {
    display: block;
    margin-top: 20px;
  }

  .contactUs {
    min-width: unset;
    width: 100%;
    margin-bottom: 20px;
  }
}
