.substrate {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoItem {
  margin-top: 10px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: var(--grey);

  &:first-child {
    margin-top: 0;
  }
}

.value {
  color: #000;
}

.buttons {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.moreMobile {
  display: none;
}

@media (max-width: 1149px) {
  .substrate {
    padding: 20px;
    display: block;
  }

  .infoItem {
    margin-top: 12px;
    font-weight: 400;
    font-size: 14px;
  }

  .value {
    margin-top: 5px;
    font-weight: 500;
    display: block;
  }

  .moreMobile {
    width: fit-content;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }

  .buttons {
    display: none;
  }
}
