.root {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.input {
  border: 1px solid var(--grey);
  border-radius: 18px;
  padding: 20px 25px;
  width: 76px;
  height: 85px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  color: var(--dark-grey);
}

.error {
  .input {
    border: 1px solid var(--red);
  }
}

@media (max-width: 1149px) {
  .input {
    width: 62px;
    height: 70px;
    padding: 13px 20px;
    border-radius: 15px;
    font-size: 30px;
  }
}
