.root {
  display: block;
}

.substrate {
  padding: 20px 30px;
  display: flex;
  column-gap: 60px;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) !important;
  }
}

.iconContainer {
  display: flex;
  align-items: center;
}

.iconWrapper {
  width: 176px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  flex-shrink: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 26px;
  line-height: 123%;
  text-align: center;
  color: var(--dark-grey);
}

.icon {
  width: 70px;
  height: 70px;
}

.contentWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainInfo {
  width: 33%;
}

.title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: #000;
}

.status {
  margin-top: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
}

.active {
  color: var(--green);
}

.awaiting {
  color: var(--orange);
}

.expired {
  color: var(--red2);
}

.duration {
  margin-top: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: #000;
}

.policyNumber {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #000;

  & span {
    display: block;
    font-weight: 400;
    margin-bottom: 5px;
  }
}

.more {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: var(--blue);
}

@media (max-width: 1149px) {
  .substrate {
    padding: 20px;
    column-gap: 12px;
  }

  .iconContainer {
    border-right: 1px solid rgba(130, 129, 129, 0.4);
    padding-right: 12px;
  }

  .iconWrapper {
    flex-wrap: wrap;
    width: 52px;
    // height: 100%;
    gap: 0;
    font-size: 14px;
    align-items: center;
    justify-content: center;
  }

  .icon {
    margin-bottom: 6px;
    display: block;
    width: 36px;
    height: 36px;
  }

  .policyNumberTitle {
    display: none;
  }

  .policyNumber {
    order: 1;
    font-size: 14px;
    font-weight: 500;

    & span {
      display: none;
    }
  }

  .more {
    display: none;
  }

  .title {
    font-size: 14px;
    font-weight: 400;
  }

  .status {
    margin-top: 20px;
    font-size: 14px;
  }

  .duration {
    margin-top: 5px;
    font-size: 14px;
  }

  .mainInfo {
    margin-top: 20px;
    width: auto;
    order: 2;
  }

  .contentWrapper {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
}
