.root {
  margin-top: 25px;
}

.substrate {
  padding: 25px 40px;
}

.items {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

@media (max-width: 1149px) {
  .substrate {
    padding: 20px;
  }

  .items {
    display: block;
  }

  .item {
    margin-top: 40px;
  }
}
