.substrate {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 17px;
  padding: 40px 60px;
}

.title {
  font-weight: 500 !important;
  font-size: 26px !important;
  line-height: 123% !important;
  color: #000 !important;
}
