.container {
  margin-top: 50px;
  display: flex;
  column-gap: 30px;
}

.sidebar {
  max-width: 275px !important;
  flex-shrink: 0;
}

.content {
  width: 100%;
  flex-shrink: 1;
}

@media (max-width: 1149px) {
  .container {
    display: block;
  }
}
