.substrate {
  margin-top: 50px;
  padding: 50px;
}

.text {
  margin: 0 auto;
  margin-top: 60px;
  font-size: 26px !important;
  max-width: 700px;
  text-align: center;
}

.whatsappLink {
  color: var(--blue);
  text-decoration: underline;

  &:hover {
    color: var(--blue);
  }
}

.textBold {
  font-weight: 500 !important;
}

.phone {
  display: block;
  text-align: center;
  margin-top: 60px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  color: var(--blue);
}

.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 60px;
}

@media (max-width: 1149px) {
  .substrate {
    padding: 30px 20px 40px 20px;
  }

  .text {
    margin-top: 40px;
    font-size: 14px !important;
  }

  .phone {
    margin-top: 20px;
    font-size: 20px;
  }

  .socialLinks {
    margin-top: 20px;
  }
}
