.root {
  position: relative;
}

.input {
  width: 100%;
  border: 1px solid var(--grey);
  border-radius: 22px;
  padding: 19px 30px;
  background-color: var(--white);
  display: flex;
  align-items: flex-start;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 128%;
  letter-spacing: 0.01em;
  color: var(--dark-grey);

  &::placeholder {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: var(--grey);
  }
}

.promocode {
  padding: 26px 30px;
  padding-right: 190px;
}

.error {
  color: var(--red2);
  border: 1px solid var(--red2);

  &::placeholder {
    color: var(--red2);
  }
}

.label {
  display: block;
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 128%;
  letter-spacing: 0.01em;
  color: var(--dark-grey);
}

.inputWrapper {
  position: relative;
}

.asideElement {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.pointer {
  cursor: pointer;
}

.calendar {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  // transform: translateY(100%);
  z-index: 100;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.labelSpan {
  font-weight: 400;
  margin-left: 4px;
}

.discountValue {
  font-weight: 500;
}

.passwordHidden {
  font-size: 28px;
  line-height: 126%;
  padding: 13px 30px;

  &::placeholder {
    transform: translateY(-4px);
  }
}

@media (max-width: 1149px) {
  .input {
    border-radius: 18px;
    padding: 14px 20px;
    font-size: 14px;

    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      line-height: 129%;
    }
  }

  .label {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
  }

  .promocode {
    padding: 22px 30px;
    padding-right: 131px;
  }

  .passwordHidden {
    font-size: 24px;
    line-height: 129%;
    padding: 8px 20px;
    padding-bottom: 7px;
    &::placeholder {
      transform: translateY(-5px);
    }
  }
}

@media (max-width: 420px) {
  // .months {
  //   padding: 10px 15px !important;
  // }

  // .nav {
  //   top: 10px;
  //   right: 20px;
  // }

  .modalOverlay {
    display: block;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 200;
  }

  .calendar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    // max-width: 360px;
    height: auto;
    z-index: 1000;
    // border-radius: 12px;
    // box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  }

  // .input {
  //   &::placeholder {
  //     font-size: 12px;
  //   }
  // }
}
