.container {
  width: 900px !important;
}

.substrate {
  padding: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.downloadButton {
  margin-top: 40px;
  font-size: 20px !important;
  column-gap: 10px !important;
  font-weight: 500 !important;

  &:hover {
    .pdfSvg {
      stroke: var(--dark-blue);
    }
  }
}

.title {
  margin-top: 80px;
}

.contentItem {
  margin-top: 40px;
}

.contentItemTitle {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: var(--dark-grey);
}

.contentItemValue {
  margin-top: 5px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 128%;
  color: var(--dark-grey);
}

.contentItemLarge {
  margin-top: 70px;
  display: flex;
  column-gap: 70px;
  align-items: flex-start;
}

.contentItemLargeTitle {
  width: 230px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 123%;
  color: var(--dark-grey);
}

.awaitingPayment {
  margin-top: 15px;
}

.loader {
  margin: 0 auto;
  margin-top: 70px;
}

@media (max-width: 1149px) {
  .substrate {
    padding: 30px 20px 40px 20px;
  }

  .header {
    display: block;
  }

  .status {
    margin-top: 25px;
  }

  .downloadButton {
    margin-top: 25px;
    font-size: 14px !important;
    column-gap: 7px !important;
  }

  .pdfSvg {
    width: 28px;
    height: 28px;
  }

  .contentItem {
    margin-top: 25px;

    &:first-child {
      margin-top: 30px;
    }
  }

  .contentItemLarge {
    display: block;
  }

  .contentItemLargeTitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 128%;
  }

  .contentItemLargeWrapper {
    margin-top: 30px;
  }

  .contentItemTitle {
    font-size: 14px;
    font-weight: 700;
  }

  .contentItemValue {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
  }
}
