.tabs {
  :global {
    .ant-tabs-nav {
      margin-bottom: 0;
    }

    .ant-tabs-nav-wrap {
      border-radius: 22px;
      padding: 7px;
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.13);
      background: var(--white);
      width: fit-content !important;
      flex: none !important;
      height: auto;
    }

    .ant-tabs-ink-bar {
      height: 59px !important;
      z-index: -1;
      background: var(--white);
      top: 0;
      bottom: unset;
      border-radius: 17px;
      background: var(--light-grey);
    }

    .ant-tabs-tab {
      margin-left: 25px;
      width: 155px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 59px;

      &:first-child {
        margin-left: 0;
      }
    }

    .ant-tabs-nav::before {
      display: none;
    }

    .ant-tabs-tab-btn {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 20px;
      line-height: 125%;
      letter-spacing: 0.01em;
      text-align: center;
      color: var(--dark-grey);
    }

    .ant-tabs-tab-active {
      & .ant-tabs-tab-btn {
        color: var(--blue) !important;
      }
    }
  }
}

@media (max-width: 1149px) {
  .tabs {
    :global {
      .ant-tabs-nav-wrap {
        border-radius: 18px;
        padding: 5px;
      }

      .ant-tabs-tab {
        margin-left: 15px;
        width: 100px;
        height: 38px;
        border-radius: 15px;

        &:first-child {
          margin-left: 0;
        }
      }

      .ant-tabs-tab-btn {
        font-weight: 500;
        font-size: 14px;
      }

      .ant-tabs-ink-bar {
        height: 38px !important;
        border-radius: 15px;
      }
    }
  }
}
