.substrate {
  margin-top: 50px !important;
}

.text {
  margin-top: 40px;
}

.submit {
  margin-top: 40px;
  width: 100% !important;
}

@media (max-width: 1149px) {
  .text {
    margin-top: 35px !important;
  }

  .submit {
    margin-top: 35px;
  }
}
