.fieldsRow {
  display: flex;
  justify-content: space-between;
  column-gap: 70px;
}

.input {
  width: 50%;
}

.fieldsRow {
  margin-top: 40px;
}

.promocodeInput {
  margin-top: 100px;
  width: calc(50% - 35px);
}

@media (max-width: 1149px) {
  .fieldsRow {
    display: block;
    margin-top: 0;
  }

  .input {
    width: 100%;
    margin-top: 30px;
  }

  .promocodeInput {
    width: 100%;
    margin-top: 80px;
  }
}
