.dayPickerRoot {
  font-family: var(--font-family);
  background: var(--white) !important;
  border-radius: 15px !important;
}

.dropdown {
  text-transform: capitalize;
  outline: none;

  & option {
    text-transform: capitalize;
  }
}

.captionLabel {
  font-family: var(--font-family);
  text-transform: capitalize;
  font-weight: 500;
  font-size: 26px;
  line-height: 123%;
  color: var(--blue);
}

.chevron {
  margin-left: 10px;
  z-index: 2;
}

.dropdowns {
  gap: 20px;
}

.day {
  margin: 10px;
  width: 60px;
  height: 55px;
}

.months {
  border-radius: 15px;
  padding: 20px 30px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.13), 0 3px 14px 0 rgba(0, 0, 0, 0.04),
    0 8px 32px 0 rgba(0, 0, 0, 0.05), 0 30px 84px 0 rgba(0, 0, 0, 0.07);
  background: var(--fill-color-12---white);
}

.nav {
  inset-block-start: unset;
  inset-block-end: unset;

  top: 16px;
  right: 30px;
}

.weekday {
  width: 50px;
  height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--prozrachnyy-grey);
  text-transform: capitalize;
}

.weekdays {
  margin-bottom: 15px !important;
}

.dayButton {
  width: 50px;
  height: 50px;
  margin: 0 auto !important;

  &:hover {
    border-radius: 5px;
    background: var(--light-grey);
  }
}

.selected {
  & .dayButton {
    border: none;
    background: var(--blue);
    border-radius: 5px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 128%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--white);

    &:hover {
      background: var(--blue);
    }
  }
}

.modalOverlay {
  display: none;
}

.submitDateBtn {
  margin: 0 auto;
  // margin-top: 20px;
}

.calendarFooter {
  margin: 0 auto;
  background: var(--white) !important;
  width: 320px !important;
  // padding: 12px;
  padding-bottom: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: translateY(-1px);
}

@media (max-width: 1149px) {
  .weekday {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  .day {
    margin: 10px !important;
    width: 40px !important;
    height: 30px !important;
    font-size: 14px;
  }

  .dayButton {
    width: 30px !important;
    height: 30px !important;
    font-size: 14px;
  }

  .selected {
    & .dayButton {
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
    }
  }
}

@media (max-width: 420px) {
  .months {
    margin: 0 auto;
    padding: 15px 20px;
    background: var(--white) !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    border-bottom: none;
  }

  .nav {
    top: 15px;
    right: 20px;
  }

  .dayPickerRoot {
    background: none !important;
  }
}

// .month {
//   opacity: 0 !important;
//   width: 0 !important;
//   height: 0 !important;
// }
