.root {
  margin-top: 15px;
  font-size: 16px;
  font-family: var(--font-family);
  display: flex;
  justify-content: space-between;
  overflow: visible;
}

.formWrapper {
  flex-shrink: 0;
  padding: 40px 20px 40px 40px;
  width: 39%;
}

.imageWrapper {
  width: 61%;
  overflow: hidden;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

.osagoImage {
  transform: translate(67px, 24px);
}

.nsImage {
  transform: translate(55px, 49px);
}

.price {
  margin-top: 30px;
}

@media (max-width: 1149px) {
  .root {
    display: block;
    width: 100%;
  }

  .formWrapper {
    width: 100%;
    max-width: none;
    padding: 20px;
    padding-bottom: 0;
  }

  .imageWrapper {
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .image {
    width: 120%;
  }

  .nsImage {
    transform: translateX(-9%) translateY(13%);
  }

  .osagoImage {
    transform: translateX(-11%) translateY(13%);
    width: 130%;

  }
}
