.root {
  margin-top: 15px;
  font-size: 16px;
  font-family: var(--font-family);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.formWrapper {
  max-width: 500px;
  flex-shrink: 0;
  padding: 40px 20px 40px 40px;
  width: calc(39%);
  // height: 100%;
}

.imageWrapper {
  width: 61%;
}

.image {
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: left; /* фиксирует левую часть, обрезая правую */
}

.price {
  margin-top: 30px;
}
